---
interface Props {
  preview?: boolean;
}

const { preview = false } = Astro.props;
---

<div class="flow-field" data-preview={preview.toString()}>
  <canvas id="flow-canvas"></canvas>
</div>

<script>
  import { FlowField } from './FlowField';

  const container = document.querySelector('.flow-field') as HTMLElement;
  const canvas = document.getElementById('flow-canvas') as HTMLCanvasElement;
  const isPreview = container.dataset.preview === 'true';

  const field = new FlowField(canvas, isPreview);
  field.start();
</script>

<style>
  .flow-field {
    width: 100%;
    height: 100%;
    position: relative;
    background: #0a0a0a;
  }

  canvas {
    display: block;
    width: 100%;
    height: 100%;
  }
</style>
