---
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';

interface Props {
  title?: string;
}

const { title = 'EEMAX' } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body>
    <a href="/" class="site-mark">EEMAX</a>
    <slot />
  </body>
</html>
